<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >-->


<suite name="test" parallel="false">

    <test name="test" preserver-order="true">
        <classes>
            <class name="testcases.testHomePage" />
        </classes>

        <listeners>
            <listener class-name="org.uncommons.reportng.HTMLReporter" />
            <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        </listeners>
    </test> <!-- Test -->

</suite> <!-- Suite -->